[user]
	name = Rory McKinley
	email = rorymckinley@gmail.com
[github]
	user = rorymckinley
[core]
  editor = vim
	excludesfile = /home/rory/.dotfiles/.gitignore
[push]
	default = current
[alias]
  po = push origin
  st = status
  cv = commit -v
[diff]
  external = ~/.dotfiles/git_diff_wrapper
[pager]
  diff =
